@if (Session["Category"] == null)
{
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
            drop
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
            <li>@Html.ActionLink("Strona główna", "Index", "Home", null, new { @class = "btn btn-block btn-default btn-lg" })</li>
            <li> @Html.ActionLink("Wypożycz", "List", "Car", null, new { @class = "btn btn-block btn-default btn-lg" })</li>
        </ul>
    </div>
}
else if (Session["Category"].Equals("Kierownik"))
{
    int x = Int32.Parse(Session["LogedUserID"].ToString());
    @Html.ActionLink("Strona główna", "Index", "Home", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Wypożycz", "List", "Car", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Samochody", "Holder", "Car", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Wnioski", "ActionList", "Rental", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Oddaj auto", "ReturnList", "Rental", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Wypożyczenia firmy", "Index", "Rental", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Użytkownicy", "Holder", "Users", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Dodaj pracownika", "SignIn", "Users", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Edycja Danych", "Edit", "Users", new { userId = x }, new { @class = "btn btn-block btn-default btn-lg" })
}
else if (Session["Category"].Equals("Pracownik"))
{
    int x = Int32.Parse(Session["LogedUserID"].ToString());
    @Html.ActionLink("Strona główna", "Index", "Home", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Wypożycz", "List", "Car", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Wnioski", "ActionList", "Rental", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Oddaj auto", "ReturnList", "Rental", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Edycja Danych", "Edit", "Users", new { userId = x }, new { @class = "btn btn-block btn-default btn-lg" })

}
else if (Session["Category"].Equals("Klient"))
{
    int x = Int32.Parse(Session["LogedUserID"].ToString());
    @Html.ActionLink("Strona główna", "Index", "Home", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Wypożycz", "List", "Car", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Wypożyczenia", "Index", "Rental", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Edycja Danych", "Edit", "Users", new { userId = x }, new { @class = "btn btn-block btn-default btn-lg" })
}

