@model CarHire.WebUI.Models.CarsListMainModel

@{
    ViewBag.Title = "Samochody";
}

@using (Html.BeginForm())
{
    <h3>Wyszukiwanie</h3>
    <div>Model: 
    <div><input type="text" name="NameSearch" value="@Model.CarSearch.NameSearch"></div></div>
    <div>Marka: 
    <div><input type="text" name="BrandSearch" value="@Model.CarSearch.BrandSearch"></div></div>
    <input type="checkbox" name="Hired" value="true" @if (Model.CarSearch.Hired == "true") { <text>Checked</text>}><text>Szukaj tylko dostepnych</text><br/>

<input type="submit" value = "Szukaj" />
}
<br />@Html.ActionLink("Wyszukiwanie zaawansowane", "Search")<br /><br />

@foreach (var p in Model.CarListViewModel.Cars)
{
    @Html.Partial("CarSummary", p);
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.CarListViewModel.PagingInfo, x => Url.Action("List", new { page = x }))
</div>