@model CarHire.WebUI.Models.CarsListViewModel

@{
    ViewBag.Title = "Samochody";
}

@using (Html.BeginForm())
{
    <h3>Wyszukiwanie</h3>
    <div>Model: 
    <div>@Html.TextBox("NameSearch")</div></div>
    <div>Marka: 
    <div>@Html.TextBox("BrandSearch")</div></div>
    @Html.CheckBox("Hired", (Request.Form["Hired"] ?? string.Empty).Contains("true")) <text>Tylko dostepne samochody</text> <br />
    <input type="submit" value="Szukaj" />
    <br/><br/>@Html.ActionLink("Wyszukiwanie zaawansowane", "Search");
}

<br />
@foreach (var p in Model.Cars)
{
    @Html.Partial("CarSummary", p);
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>